/* New layout styles */
.main-content {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.fixed-top-section {
    flex-shrink: 0;
    z-index: 10;
    padding-bottom: 1rem;
}

.scrollable-menu-section {
    flex: 1;
    overflow-y: auto;
    padding: 1rem 0;
    margin-bottom: 60px;
    /* Space for fixed bottom controls */
    border-radius: 8px;
}

.fixed-bottom-section {
    position: fixed;
    bottom: 0;
    left: 280px;
    /* Account for sidebar width */
    right: 0;
    padding: 1rem;
    z-index: 20;
}


.batch-card {
    max-width: 300px;
    border-style: solid;
    border-color: var(--black) !important;
    border-width: 2px;
    border-radius: 8px;
}


.modal {
    left: 280px;
    /* Width of the sidebar */
    width: calc(100% - 280px);
}

/* Responsive adjustment */
@media (max-width: 992px) {
    .fixed-bottom-section {
        left: 0;
    }

    .modal {
        left: 0;
        width: 100%;
    }
}
